span{
    color: red;
    font-weight: bold;
}

#caja{
    background-color: aqua;
    width: 400px;
    height: 200px;
    text-align: justify;
    overflow: hidden; /*default: visible*/
}

.hijo{
    border: 1px;
    border-style: solid;
    border-color: blue;
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    background-color: chocolate;
    margin: 10px;


}

#padre{
    display: flex;
    justify-content: center;
}